<h2><%= @restaurant.name %></h2>

<h3>Ratings</h3>
<ul>
  <% @restaurant.ratings.each do |rating| %>
    <li>
      <%= rating.value %>
	  <p><%= rating.description %></p>
	  <%= link_to "Edit Rating", edit_rating_url(rating) %>
      <%= button_to "Remove Rating", rating_url(rating), method: :delete %>
    </li>
  <% end %>
</ul>

<hr>

<h3>Add Rating</h3>

<form action="<%= restaurant_ratings_url(@restaurant) %>" method="post">
  <input type="hidden" name="authenticity_token"
   value="<%= form_authenticity_token %>">
		  
 <label for='val'>Value</label>
 <select name='rating[value]' id='val'>
	 <% 1.upto 5 do |i|%>
	 	<option value='<%=i%>'><%=i%></option>
	 <%end%>
 </select>

  <label>
    Description
    <textarea name="rating[description]"></textarea>
  </label>

  <input type="submit" value="Add Comment">
</form>

<%= link_to "Edit Restaurant", edit_restaurant_url(@restaurant) %>
<%= link_to "Restaurants", restaurants_url %>